<app-header></app-header>

<div class="image-container">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-sm-offset-2">

            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card">
                    <form class="form-container">
                        <div class="wizard-header">
                            <h3 class="col-sm-12 d-flex justify-content-center">
                            <b>Ingrese su nueva contraseña</b><br>
                            </h3>
                        </div> 
                        <div class="form-group col-sm-12 col-sm-offset-1">
                            <label for="new-password"><b>Nueva contraseña</b></label>
                            <input type="password" name="new-password" id="new-password" class="form-control" placeholder="Nueva contraseña" required minlength="8">
                        </div>
                        <div class="form-group col-sm-12 col-sm-offset-1">
                            <label for="new-password"><b>Repita su nueva contraseña</b></label>
                            <input type="password" name="repeat-password" id="repeat-password" class="form-control" placeholder="Nueva contraseña" required minlength="8">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-block center-block" [routerLink]="['/login']"><b>Actualizar</b></button>
                        </div>

                    </form>
                </div>

            </div> <!-- wizard container -->
        </div>
        </div><!-- end row -->
    </div> <!--  big container -->
</div>