<!-- barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container col-sm-11">
        <!-- logo -->
        <div id="logo-container" class="navbar-brand text-uppercase pt-6">
            <img src="../../../assets/img/2CM.png" alt="Logo" id="logo" class="img-fluid rounded-circle"/>
            <span class="logo-words">$</span><span>2C</span><span class="logo-words">Money$</span>
        </div>

        <!--contenido de navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto pt-4">
                <li class="nav-item"><a class="nav-link" href="/saldo">Saldo</a></li>
                <li class="nav-item"><a class="nav-link" href="/perfil">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="/cuenta">Cuenta</a></li>
                <li class="nav-item"><a class="nav-link" href="/tarjeta">Tarjeta</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Operaciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdown">
                        <a class="dropdown-item" routerLink="/ingresar">Ingresar dinero</a>
                        <a class="dropdown-item" routerLink="/transferencias">Transferencias</a>
                        <a class="dropdown-item" routerLink="/movimientos">Ultimos movimientos</a>
                    </div>
                  </li>
                <li class="nav-item"><a class="nav-link" href="/">Salir</a></li>
            </ul>
        </div>
    </div>
</nav>