<app-navbar></app-navbar>

<div class="image-container">
    <div class="container col-sm-10">
        <div class="row">
        <div class="col-sm-12">
            <div class="data-container">

                <div class="card data-card">
                    <div id="perfil" class="col-sm-12">
                        <div>
                            <div class="col">
                                <a class="btn btn-block center-block" mat-raised-button href="/activar-cuenta">Activar nueva cuenta</a>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </div>
    </div>
</div>