@model List<ClipMoney.Models.OperacionBase>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <br />
    <form action="/Operacion/ObtenerUltimosMovimientos" method="get">
        <input type="text" name="idCuenta" value="" />
        <input type="submit" name="name" value="Insert" />
    </form>
    <h3>Movimientos</h3>
    @foreach(var elem in Model)
    {
        @Html.Partial("~/Views/Shared/elemOperacionBase.cshtml", elem)
    }
</div>

