<!--
<div class="container">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">


        <div class="wizard-container">

            <div class="card wizard-card" data-color="blue" id="wizardProfile">
                <form action="" method="">


                    <div class="wizard-header">
                        <h3>
                           <b>CREA</b> TU PERFIL <br>
                           <small>Esta informacion nos ayudara a crear tu nuevo perfil.</small>
                        </h3>
                    </div>


                    <div class="wizard-navigation">
                        <div class="row stepwizard-row setup-panel">
                            <div class="col-sm-1 col-sm-offset-2">
                            </div>
                            <div class="stepwizard-step col-sm-2 col-sm-offset-2">
                                    <a href="#perfil" type="button" class="btn btn-primary">Perfil</a>
                            </div>
                            <div class="col-sm-1 col-sm-offset-2">
                            </div>
                            
                            <div class="stepwizard-step col-sm-4 col-sm-offset-2 justify-content-center">
                                <a href="#datos" type="button" class="btn btn-default" disabled="disabled">Datos Personales</a>
                            </div>
                            <div class="col-sm-1 col-sm-offset-2">
                            </div>
                            
                            <div class="stepwizard-step col-sm-2 col-sm-offset-2">
                                <a href="#direccion" type="button" class="btn btn-default" disabled="disabled">Direccion</a>
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane" id="perfil">
                          <div class="row">
                              <h4 class="col-sm-12 d-flex justify-content-center"> Comencemos con la informacion basica de tu cuenta</h4>
                              <div class="col-sm-10 col-sm-offset-1">
                                 <div class="picture-container">
                                      <div class="picture">
                                          <img src="assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title=""/>
                                          <input type="file" id="wizard-picture">
                                      </div>
                                      <h6>Sube una foto del frente de tu DNI</h6>
                                  </div>
                              </div>
                              <div class="col-sm-10 col-sm-offset-1">
                                  <div class="form-group">
                                      <label>Email <small>(requerido)</small></label>
                                      <input name="email" type="email" class="form-control" placeholder="juan@email.com">
                                  </div>
                                  <div class="form-group">
                                    <label>Contraseña <small>(requerido)</small></label>
                                    <input name="contraseña" type="text" class="form-control" placeholder="Abcd1234">
                                </div>
                                <div class="form-group">
                                    <label>Repita su contraseña <small>(requerido)</small></label>
                                    <input name="repita-contraseña" type="text" class="form-control" placeholder="Abcd1234">
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="datos">
                            <h4 class="col-sm-12 d-flex justify-content-center"> Carga tus datos personales </h4>
                            <div class="col-sm-10">
                                <div class="form-group">
                                   <label>Nombre <small>(requerido)</small></label>
                                   <input name="firstname" type="text" class="form-control" placeholder="Juan...">
                                </div>
                                <div class="form-group">
                                   <label>Apellido <small>(requerido)</small></label>
                                   <input name="apellido" type="text" class="form-control" placeholder="Lopez...">
                                </div>
                                <div class="form-group">
                                    <label>DNI<small>(requerido)</small></label>
                                    <input name="dni" type="text" class="form-control" placeholder="30555888">
                                </div>
                                <div class="form-group">
                                    <label>CUIL/CUIT<small>(requerido)</small></label>
                                    <input name="cuilcuit" type="text" class="form-control" placeholder="20-30555888-3">
                                </div>
                                <div class="form-group">
                                    <label>Fecha nacimiento<small>(requerido)</small></label>
                                    <input name="cuilcuit" type="date" class="form-control" placeholder="15/05/1990">
                                </div>
                                <div class="form-group">
                                    <label>Numero de telefono<small>(requerido)</small></label>
                                    <input name="tel" type="text" class="form-control" placeholder="3514539962">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="direccion">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="col-sm-12 d-flex justify-content-center"> Cuentanos donde vives </h4>
                                    <h6 class="col-sm-12 d-flex justify-content-center">(informacion necesaria si desea una tarjeta)</h6>
                                </div>
                                <div class="col-sm-7 col-sm-offset-1">
                                     <div class="form-group">
                                        <label>Calle</label>
                                        <input type="text" class="form-control" placeholder="Av Peron">
                                      </div>
                                </div>
                                <div class="col-sm-3">
                                     <div class="form-group">
                                        <label>Altura</label>
                                        <input type="text" class="form-control" placeholder="242">
                                      </div>
                                </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="form-group">
                                       <label>piso</label>
                                       <input type="text" class="form-control" placeholder="5">
                                     </div>
                               </div>
                               <div class="checkbox col-sm-4 col-sm-offset-1">
                                    <label>
                                        <input type="checkbox"> <b>Vivo en un departamento</b>
                                    </label>
                                </div>
                               <div class="col-sm-4 col-sm-offset-1">
                                <div class="form-group">
                                   <label>puerta</label>
                                   <input type="text" class="form-control" placeholder="b">
                                 </div>
                           </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="form-group">
                                       <label>Barrio</label>
                                       <input type="text" class="form-control" placeholder="Alberdi">
                                     </div>
                               </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                     <div class="form-group">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control" placeholder="Rio Cuarto">
                                      </div>
                                </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="form-group">
                                       <label>Provincia</label>
                                       <input type="text" class="form-control" placeholder="Cordoba">
                                     </div>
                               </div>
                                <div class="col-sm-5 col-sm-offset-1">
                                     <div class="form-group">
                                        <label>Country</label><br>
                                         <select name="Pais" class="form-control">
                                            <option value="Argentina"> Argentina </option>
                                            <option value="Brasil"> Brasil </option>
                                            <option value="Chile"> Chile </option>
                                            <option value="Uruguay"> Uruguay </option>
                                            <option value="otro">otro...</option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="form-group">
                                       <label>Codigo Postal</label>
                                       <input type="int" class="form-control" placeholder="5800">
                                     </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer height-wizard">
                        <div class="pull-right">
                            <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='siguiente' value='Siguiente' />
                            <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finalizar' value='Finalizar' />

                        </div>

                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='anterior' value='Anterior' />
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </form>
            </div>
        </div> 
    </div>
    </div>
</div> 

<div class="footer">
    <p><b>¿Ya tienes una cuenta? Haz click <a href="index.html">AQUI</a></b></p>
</div>

-->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="image-container">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-sm-offset-2">


            <div class="wizard-container">
                <div class="card wizard-card">
                    <form class="form-container" id="regForm" action="/action_page.php">
                        <h1>Register:</h1>
        
                        <div class="tab">Name:
                            <p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>
                            <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p>
                        </div>
                        <div class="tab">Contact Info:
                            <p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
                            <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>
                        </div>
                        <div class="tab">Birthday:
                            <p><input placeholder="dd" oninput="this.className = ''" name="dd"></p>
                            <p><input placeholder="mm" oninput="this.className = ''" name="nn"></p>
                            <p><input placeholder="yyyy" oninput="this.className = ''" name="yyyy"></p>
                        </div>
                        <div class="tab">Login Info:
                            <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
                            <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>
                        </div>
                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                            </div>
                        </div>
                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    </form>
                </div>

            </div> 
        </div>
        </div>
    </div>

    <div class="col-sm-12 d-flex justify-content-center">
        <p><b>¿Aun no tienes una cuenta? haz click <a [routerLink]="['/register']">AQUI</a> para registrarte</b></p>
    </div>
</div>

  
  <script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab
  
  function showTab(n) {
    // This function will display the specified tab of the form...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    //... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";
    }
    //... and run a function that will display the correct step indicator:
    fixStepIndicator(n)
  }
  
  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form...
    if (currentTab >= x.length) {
      // ... the form gets submitted:
      document.getElementById("regForm").submit();
      return false;
    }
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }
  
  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
      if (y[i].value == "") {
        // add an "invalid" class to the field:
        y[i].className += " invalid";
        // and set the current valid status to false
        valid = false;
      }
    }
    // If the valid status is true, mark the step as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }
  
  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class on the current step:
    x[n].className += " active";
  }
  </script>
  




<!--

<script type="text/javascript">
    searchVisible = 0;
    transparent = true;

    $(document).ready(function(){


        $('[rel="tooltip"]').tooltip();

        // Code for the Validator
        var $validator = $('.wizard-card form').validate({
            rules: {
                firstname: {
                required: true,
                minlength: 3
                },
                lastname: {
                required: true,
                minlength: 3
                },
                email: {
                required: true,
                minlength: 3,
                }
            }
        });

        // Wizard Initialization
        $('.wizard-card').bootstrapWizard({
            'tabClass': 'nav nav-pills',
            'nextSelector': '.btn-next',
            'previousSelector': '.btn-previous',

            onNext: function(tab, navigation, index) {
                var $valid = $('.wizard-card form').valid();
                if(!$valid) {
                    $validator.focusInvalid();
                    return false;
                }
            },

            onInit : function(tab, navigation, index){

            //check number of tabs and fill the entire row
            var $total = navigation.find('li').length;
            $width = 100/$total;
            var $wizard = navigation.closest('.wizard-card');

            $display_width = $(document).width();

            if($display_width < 600 && $total > 3){
                $width = 50;
            }

            navigation.find('li').css('width',$width + '%');
            $first_li = navigation.find('li:first-child a').html();
            $moving_div = $('<div class="moving-tab">' + $first_li + '</div>');
            $('.wizard-card .wizard-navigation').append($moving_div);
            refreshAnimation($wizard, index);
            $('.moving-tab').css('transition','transform 0s');
        },

            onTabClick : function(tab, navigation, index){

                var $valid = $('.wizard-card form').valid();

                if(!$valid){
                    return false;
                } else {
                    return true;
                }
            },

            onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;

                var $wizard = navigation.closest('.wizard-card');

                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $($wizard).find('.btn-next').hide();
                    $($wizard).find('.btn-finish').show();
                } else {
                    $($wizard).find('.btn-next').show();
                    $($wizard).find('.btn-finish').hide();
                }

                button_text = navigation.find('li:nth-child(' + $current + ') a').html();

                setTimeout(function(){
                    $('.moving-tab').text(button_text);
                }, 150);

                var checkbox = $('.footer-checkbox');

                if( !index == 0 ){
                    $(checkbox).css({
                        'opacity':'0',
                        'visibility':'hidden',
                        'position':'absolute'
                    });
                } else {
                    $(checkbox).css({
                        'opacity':'1',
                        'visibility':'visible'
                    });
                }

                refreshAnimation($wizard, index);
            }
        });


        // Prepare the preview for profile picture
        $("#wizard-picture").change(function(){
            readURL(this);
        });

        $('[data-toggle="wizard-radio"]').click(function(){
            wizard = $(this).closest('.wizard-card');
            wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
            $(this).addClass('active');
            $(wizard).find('[type="radio"]').removeAttr('checked');
            $(this).find('[type="radio"]').attr('checked','true');
        });

        $('[data-toggle="wizard-checkbox"]').click(function(){
            if( $(this).hasClass('active')){
                $(this).removeClass('active');
                $(this).find('[type="checkbox"]').removeAttr('checked');
            } else {
                $(this).addClass('active');
                $(this).find('[type="checkbox"]').attr('checked','true');
            }
        });

        $('.set-full-height').css('height', 'auto');

    });



    //Function to show image before upload

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(window).resize(function(){
        $('.wizard-card').each(function(){
            $wizard = $(this);
            index = $wizard.bootstrapWizard('currentIndex');
            refreshAnimation($wizard, index);

            $('.moving-tab').css({
                'transition': 'transform 0s'
            });
        });
    });

    function refreshAnimation($wizard, index){
        total_steps = $wizard.find('li').length;
        move_distance = $wizard.width() / total_steps;
        step_width = move_distance;
        move_distance *= index;

        $wizard.find('.moving-tab').css('width', step_width);
        $('.moving-tab').css({
            'transform':'translate3d(' + move_distance + 'px, 0, 0)',
            'transition': 'all 0.3s ease-out'

        });
    }

    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            clearTimeout(timeout);
            timeout = setTimeout(function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            }, wait);
            if (immediate && !timeout) func.apply(context, args);
        };
    };
</script>

-->