<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container col-sm-12">
        <!-- logo -->
        <div id="logo-container" class="navbar-brand text-uppercase pt-6">
            <a [routerLink]="['/']">
                <img src="../../../assets/img/2CM.png" alt="Logo" id="logo" class="img-fluid rounded-circle"/>
            </a>
            <span class="logo-words"><b>$</b></span><span><b>2C</b></span><span class="logo-words"><b>Money$</b></span>
        </div>
    </div>
</nav>
