<div class="container col-sm-10">
  <div class="row">
    <div class="col-sm-12">
      <div class="data-container">
        <div class="card data-card">
          <div class="col">
            <form class="form-container">
              <div class="wizard-header">
                <h3 class="col-sm-12 d-flex justify-content-center">
                  Retirar Dinero
                </h3>
              </div>
              <div class="form-group col-sm-12 col-sm-offset-1">
                <b>Saldo Actual:</b>
              </div>
              <div class="form-group col-sm-12 col-sm-offset-1">
                <label for="retiro"><b>Monto que desea ratirar:</b></label>
                <input
                  type="int"
                  id="retiro"
                  class="form-control"
                  placeholder="¿Cuanto dinero desea retirar de su cuenta?"
                  matInput
                  formControlName="Retiro"
                  required
                />
                <label for="idCuenta"
                  ><b>Id de cuenta que desea ingresar:</b></label
                >
                <input
                  type="number"
                  id="idCuenta"
                  class="form-control idCuenta"
                  placeholder="id de cuenta placeholder"
                  matInput
                  formControlName="IdCuenta"
                  required
                />
              </div>
              <div class="col">
                <button type="submit" class="btn btn-block center-block">
                  <b>Retirar Dinero</b>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
