<!-- barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container col-sm-11">
        <!-- logo -->
        <div id="logo-container" class="navbar-brand text-uppercase pt-4">
            <img src="../../../assets/img/2CM.png" alt="Logo" id="logo" class="img-fluid d-inline-block rounded-circle"/>
            <span class="logo-words">$</span><span>2C</span><span class="logo-words">Money$</span>
        </div>
        
        <!--contenido de navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto pt-4">
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/login']">Loguearse</a></li>
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/register']">Registrarse</a></li>
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/recuperar-cuenta']">Recuperar Cuenta</a></li>
            </ul>
        </div>
    </div>
</nav>