<app-navbar (opcionClickeada)="opcionClick($event)"></app-navbar>

<div class="image-container">
  <div class="container col-sm-10">
    <div class="row">
      <div class="col-sm-12">
        <div class="data-container">
          <div class="card data-card text-center">
            <!-- <h2>
              Welcome! Your account id is: <span class="account-id"></span>
            </h2>
            <app-consultar-saldo
              [accountId]="dataDashboard"
            ></app-consultar-saldo>
            <h6>Nombres, Apellido, DNI o CUIT</h6> -->
            <app-informacion-de-cuenta
              [accountId]="dataDashboard"
              [mostrarInfoBasica]="true"
              *ngIf="mostrarInfoBasica"
            ></app-informacion-de-cuenta>
            <br />
            <app-ingreso-dinero
              [mostrarIngresoDeposito]="false"
              [entradaIdCuenta]="10025"
              *ngIf="mostrarIngresoDepositoHome"
            ></app-ingreso-dinero>
            <app-extraer-dinero
              [mostrarExtraccion]="true"
              [entradaIdCuenta]="12345"
              *ngIf="mostrarExtraccion"
            >
            </app-extraer-dinero>
            <app-transferencia
              [mostrarTransferencia]="false"
              [accountId]="dataDashboard"
              [entradaIdCuenta]="10025"
              *ngIf="mostrarTransferencia"
            ></app-transferencia>
            <app-ultimos-movimientos
              [entradaIdCuenta]="dataDashboard"
              [mostrarUltimosMovimientos]="true"
              *ngIf="mostrarUltimosMovimientos"
            ></app-ultimos-movimientos>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
