<app-navbar></app-navbar>

<div class="image-container">
    <div class="container col-sm-10">
        <div class="row">
        <div class="col-sm-12">
            <div class="data-container">

                <div class="card data-card">
                    <div id="perfil" class="col-sm-11">
                        <div>
                            <h2>perfil</h2>
                        </div>
                    </div>
                    <div id="cuenta" class="col-sm-11">
                        <div>
                            <h2>
                                cuenta
                            </h2>           
                        </div>
                    </div>
                    <div id="tarjeta" class="col-sm-11">
                        <div>
                            <h2>tarjeta</h2>
                        </div>
                    </div>
                    <div id="contacto" class="col-sm-11">
                        <div>
                            <h2>
                                contacto
                            </h2>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </div>
    </div>
</div>